*{
    padding: 0;
    margin:0;
    font-family : 'poppins', 'sans-sarif';
    box-sizing: border-box;
}
body{
   background-color: black;
<<<<<<< HEAD
   color:whitesmoke}
=======
   color:white;
}
>>>>>>> 9ce65df0b0c0d3574bce2a98b07894c258cbcd91
.header{


    width: 100%;
    height: 100vh;
   
    background-image:url(images/p2.png);
    background-size:auto;
    background-position:900px -40px;
    background-repeat: no-repeat;
}

.container{
    padding: 10px 10%;
}
.logo{
    height: 80px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{ 
color: white;
text-decoration: none;
font-size: 18px;
position: relative;

}
nav ul li a::after{ 
content: '';
width: 0%;
height: 3px;
background: navy;
position: absolute;
left:0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text {
   margin-top: 20%;
   font-size: 30px;
}

.header-text  {
  
 margin-top: 10%;
 font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}
.header-text h1 span{
<<<<<<< HEAD
    color:pink;
}
#about{
    /*background-color: blue;*/
    padding: 80px 0;
    color: aliceblue;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
  width:100%;
  border-radius: 15px;
  margin-left: 10%;
}
.about-col-2{
    flex-basis: 55%;
}
.row{
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ab{
    margin-right: 300px;
    font-size: 60px;
    font-weight: 600;
    color: white;
}
=======
    color:navy
}
>>>>>>> 9ce65df0b0c0d3574bce2a98b07894c258cbcd91
